on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RPP_GH_TOKEN }}
  # publish-pnpm:
  #   name: Publish to npm
  #   runs-on: ubuntu-latest
  #   needs: release-please
  #   if: ${{ steps.release.outputs.release_created }}
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Setup Node.js
  #       uses: actions/setup-node@v3
  #     - name: Install pnpm
  #       run: npm install -g pnpm
  #     - name: Install dependencies
  #       run: pnpm install
  #     - name: Build packages
  #       run: pnpm build
  #     - name: Publish packages
  #       run: pnpm -r publish --access public --no-git-checks
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
